<ul id="breadcrumbs">
    <li>
        <a href='/'>Home</a>
    </li>
<li><a href="/clubs">Clubs<></li>
</ul>
<article>
    <section>

        <h1>List of clubs</h1>
        <% @clubs.each do |club| %>
        <h3><%= link_to club.name, club %></h3>
        <% end %>
    </section>
    <section>
        <%= render 'layouts/sidebar' %>
    </section>
</article> 